<h1>Bienvenido a phoenix <%= @name %> <%= @lastname %></h1>

<p>Una nueva cuenta de adminstrador ha sido creada con el siguiente password <%= @pass %> <br> Por favor entre a su cuenta y cambie el password.</p>
